{% extends 'base.html' %}
{% load static %}

{% block title %}Ocean Library{% endblock %} {% block body %}
<!-- <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-bold text-4xl my-4">Welcome to Our Bank</h1>
        <p class="leading-normal mb-4">
            This is a simple Bank where you can deposit money, withdraw money, take loan. You can also create an account, login, logout. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nemo quaerat quo dicta, adipisci eum fuga ratione id numquam eius veniam placeat voluptatum, itaque tempora molestias vel, blanditiis fugiat ipsam!

        </p>
        <div class="flex justify-end w-full">
            <a href="{% url 'register' %}" class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
        </div>
    </div>
    <div class="w-full lg:w-1/2 lg:py-6 text-center ">
        <img class ="rounded-2xl" src ="{% static 'img/bank.jpg' %}"/>
    </div>
</div> -->
<div class="flex">
    <!-- Left pane for Browse by Category -->
    <div class="mr-8 flex-col">
        <h2 class="mb-2">Browse by category</h2>
        <ul>
            <li><a href="{% url 'home' %}">All</a></li>
            {% for category in categories %}
            <li><a href="{% url 'home' %}?category={{ category.id }}">{{ category.category_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2 class="text-2xl font-bold mb-4">Book List</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4">
            {% for book in books %}
            <div class="bg-white p-6 rounded-lg shadow-md flex">
                <!-- Left side -->
                <div class="flex-shrink-0 mr-4">
                    <img src="{{ book.book_image.url }}" alt="{{ book.book_title }}"
                        class="w-full h-40 object-cover mb-4">
                        <p></p>
                        {% if user.is_authenticated %}
                        <form method="post" action="{% url 'click_borrow' %}">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value="{{ book.id }}">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Borrow Book
                            </button>
                        </form>
                        {% endif %}
                </div>
                <div>
                    <h3 class="text-xl font-semibold mb-2">{{ book.book_title }}</h3>
                    <p class="text-gray-600 mb-4" style="max-width: 20rem;">{{ book.book_description|truncatewords:20 }}
                    </p>
                    <p class="text-gray-700">Categories:
                        {% for category in book.category.all %}
                        <span class="bg-gray-200">{{ category.category_name }}{% if not forloop.last %}, {% endif%}</span>
                        {% endfor %}
                    </p>
                    <p class="text-gray-700">Borrowing Price: {{ book.borrow_price }}</p>
                    <!-- Add more fields as needed -->
                    <p class="text-gray-700">User Reviews: {{ book.average_reviews }}/5.0</p>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}